<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.CheckImgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ActiveCodeServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.ActiveCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckEmailServlet</servlet-name>
    <servlet-class>com.bugs.verify.CheckEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryUserListServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.QueryUserListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.UpdatePwdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryBookServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.QueryBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.AddBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteBookByBatchServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.DeleteBookByBatchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryBookByIdServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.QueryBookByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryBookByManyConditionServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.QueryBookByManyConditionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchUserServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.SearchUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomerRegisterServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.CustomerRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VIPCustomerListServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.VIPCustomerListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommonCustomerListServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.CommonCustomerListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditCustomerByIdServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.EditCustomerByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryCustomerByIdServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.QueryCustomerByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteCustomerByBatchServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.DeleteCustomerByBatchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetRecommendBookServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.GetRecommendBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryShoppingCartItembyCustomerId</servlet-name>
    <servlet-class>com.bugs.web.servlet.QueryShoppingCartItembyCustomerId</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddBookToShoppingCartServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.AddBookToShoppingCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomerInfoServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.CustomerInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BookDetailServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.BookDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddBookToCartServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.AddBookToCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DirectPurchaseServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.DirectPurchaseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ConfirmPaymentServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.ConfirmPaymentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomerExitServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.CustomerExitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewMyOrdersServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.ViewMyOrdersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryBooksByCategoryServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.QueryBooksByCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomerDeleteShoppingCartItemServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.CustomerDeleteShoppingCartItemServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomerDeleteOrderServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.CustomerDeleteOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ContinueBuyServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.ContinueBuyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetCartInfoServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.GetCartInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewMyCartServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.ViewMyCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.CheckOutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddMessageServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.AddMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewMyMessageServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.ViewMyMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReviewMessageServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.ReviewMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.DeleteMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchBookByTypeServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.SearchBookByTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchBookServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.SearchBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewAllMessageServlet</servlet-name>
    <servlet-class>com.bugs.web.servlet.ViewAllMessageServlet</servlet-class>
  </servlet>














































  <filter>
  <filter-name>encodingFilter</filter-name>
  <filter-class>com.bugs.filter.EncodingFilter</filter-class>
  </filter>
  
  <filter>
  <filter-name>userFilter</filter-name>
  <filter-class>com.bugs.filter.UserFilter</filter-class>
  </filter>
  
  <filter>
  <filter-name>customerFilter</filter-name>
  <filter-class>com.bugs.filter.CustomerFilter</filter-class>
  </filter>
  

  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/CheckCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveCodeServlet</servlet-name>
    <url-pattern>/activeCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckEmailServlet</servlet-name>
    <url-pattern>/checkEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUserListServlet</servlet-name>
    <url-pattern>/queryUserListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <url-pattern>/updatePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/exitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryBookServlet</servlet-name>
    <url-pattern>/queryBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/addBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBookByBatchServlet</servlet-name>
    <url-pattern>/deleteBookByBatchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryBookByIdServlet</servlet-name>
    <url-pattern>/queryBookByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryBookByManyConditionServlet</servlet-name>
    <url-pattern>/queryBookByManyConditionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchUserServlet</servlet-name>
    <url-pattern>/searchUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/updateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerRegisterServlet</servlet-name>
    <url-pattern>/customerRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VIPCustomerListServlet</servlet-name>
    <url-pattern>/queryVIPCustomerListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommonCustomerListServlet</servlet-name>
    <url-pattern>/queryCommonCustomerListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditCustomerByIdServlet</servlet-name>
    <url-pattern>/editCustomerByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryCustomerByIdServlet</servlet-name>
    <url-pattern>/queryCustomerByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCustomerByBatchServlet</servlet-name>
    <url-pattern>/deleteCustomerByBatchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRecommendBookServlet</servlet-name>
    <url-pattern>/getRecommendBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/customerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryShoppingCartItembyCustomerId</servlet-name>
    <url-pattern>/queryShoppingCartItembyCustomerId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookToShoppingCartServlet</servlet-name>
    <url-pattern>/addBookToShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerInfoServlet</servlet-name>
    <url-pattern>/customerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookDetailServlet</servlet-name>
    <url-pattern>/bookDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookToCartServlet</servlet-name>
    <url-pattern>/addBookToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DirectPurchaseServlet</servlet-name>
    <url-pattern>/directPurchaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmPaymentServlet</servlet-name>
    <url-pattern>/confirmPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerExitServlet</servlet-name>
    <url-pattern>/customerExitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewMyOrdersServlet</servlet-name>
    <url-pattern>/viewMyOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/indexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryBooksByCategoryServlet</servlet-name>
    <url-pattern>/queryBooksByCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerDeleteShoppingCartItemServlet</servlet-name>
    <url-pattern>/customerDeleteShoppingCartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerDeleteOrderServlet</servlet-name>
    <url-pattern>/customerDeleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContinueBuyServlet</servlet-name>
    <url-pattern>/continueBuyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCartInfoServlet</servlet-name>
    <url-pattern>/getCartInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewMyCartServlet</servlet-name>
    <url-pattern>/viewMyCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/checkOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMessageServlet</servlet-name>
    <url-pattern>/addMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewMyMessageServlet</servlet-name>
    <url-pattern>/viewMyMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReviewMessageServlet</servlet-name>
    <url-pattern>/reviewMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <url-pattern>/deleteMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchBookByTypeServlet</servlet-name>
    <url-pattern>/searchBookByTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchBookServlet</servlet-name>
    <url-pattern>/searchBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewAllMessageServlet</servlet-name>
    <url-pattern>/viewAllMessageServlet</url-pattern>
  </servlet-mapping>
  
  
  <filter-mapping>
  <filter-name>encodingFilter</filter-name>
  <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  <filter-name>userFilter</filter-name>
  <url-pattern>/home/*</url-pattern>
  </filter-mapping>
  
  
  <filter-mapping>
  <filter-name>customerFilter</filter-name>
  <url-pattern>/addBookToCartServlet</url-pattern>
  <url-pattern>/bookDetailServlet</url-pattern>
  <url-pattern>/confirmPaymentServlet</url-pattern>
  <url-pattern>/continueBuyServlet</url-pattern>
  <url-pattern>/customerDeleteOrderServlet</url-pattern>
  <url-pattern>/customerDeleteShoppingCartItemServlet</url-pattern>
  <url-pattern>/customerInfoServlet</url-pattern>
  <url-pattern>/viewMyOrdersServlet</url-pattern>
  </filter-mapping>
  	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
